<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu">
          <i class="fa fa-bars" *ngIf="auth.jwtPayload"></i>
        </a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">{{ auth.jwtPayload?.nome }}</li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
      <a routerLink="/lancamentos">Lançamentos</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_PESSOA')">
      <a routerLink="/pessoas">Pessoas</a>
    </li>
    <li class="navbar-menuitem" *ngIf="auth.jwtPayload">
      <a (click)="logout()">Logout</a>
    </li>
  </ul>

</nav>
